body {
    font-family: calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: black;
}

header {
    background-color: rgba(159, 208, 243, 0.949);
    color: black;
    padding: 0;
}

nav ul {
    justify-content: space-evenly;
    text-align: right;
    display: horizontal;
    padding: 20px 0;
    margin-right: 100px;
    
}

nav a {
    color: black;
    padding: 20px 12px;
}


footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.button {
    color: black;
    background-color: rgb(129, 154, 224);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }